future
emoji
lxml
beautifulsoup4
requests
sqlalchemy==1.3.20
python-telegram-bot==12.8
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
#googletrans
google_trans_new
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon==1.16.4
spamwatch
alphabet_detector
pyrate-limiter
fontTools
gtts
pyrogram
redis
bing_image_downloader
nekos.py
tswift
pyowm
tabulate
parsel
telegraph
pytz
pySmartDL
validators
youtube_dl
html2text
humanize
future
emoji
sqlalchemy
lxml
beautifulsoup4
requests
python-telegram-bot==13.4.1
psycopg2-binary
feedparser
spongemock
zalgo-text
geopy
nltk
psutil
CurrencyConverter
bleach
gpytranslate
markdown2
wikipedia
telethon
pyrogram
tgcrypto
alphabet_detector
pyrate-limiter
cachetools
Intellivoid-SPB
ujson
hachoir
pybase64
pretty_errors
humanize
